html {
  font-family: 'Titillium Web', sans-serif;
}

.pseudo-nav {
  margin: 2em 0em 4em 0em;
  color: black;
}

.nav-options {
  color: gray;
}

.side-card {
  margin-right: 30px;
  padding: 30px 30px 30px 30px;
  border-radius: 4px;
}

.main-content-card {
  padding: 30px 30px 30px 30px;
}

.main-content {
}
