

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.nav-item {
  margin-left: 24px;
  color: black;
}

.nav-item:hover {
  border-right: red solid 4px;
  color: red;
}

img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 40px;
  border-radius: 100px;
}

#sidebar {
  margin: 50px 0px 0px 50px;
  position: fixed;
}
#main_content {


}
