a {
  color: #3a3a3a;
}

#profile {
  max-width: 130px;
  max-height: 130px;
  margin-bottom: 40px;
  border-radius: 100px;
}
h6 {
  font-weight: 500;
}

body {
  color: #3a3a3a;
  font-family: "Roboto";
}

#pseudo-nav {
  padding-top: 20px;
  padding-bottom: 80px;
}

#self h4{
  font-weight: 420;
  margin-bottom: 0;
}

#self h5{
  color: #3a3a3a;
  font-weight: 300;
}

#self h5 {
  padding-bottom: 10px;
}

#self p {
  text-align: justify;
}


#navbar {
  padding-top: 40px;
  max-width: 220px;
}

.card {
  margin-bottom: 40px;
}

#icon-panel img{
  max-width: 26px;
  max-height: 26px;
  float: left;
  margin-right: 10px;
}

#icon-panel p {
  padding-top: 2px;
  font-weight: 600;
  color: #3a3a3a;
}


/* for the card display panel */
#display {
  width: 600px;
  height: 400px;
  padding: 28px 10px 20px 10px;
  border-radius: 4px;
  box-shadow: 0 0 6px #b7b7b7;
}

#display a {
  margin-top: 100px;
}

#display img {
  max-width: 120px;
  max-height: 120px;
}
