#profile {
  max-width: 130px;
  max-height: 130px;
  margin-bottom: 40px;
  border-radius: 100px;
}
h6 {
  font-weight: 500;
}

body {
  color: #3a3a3a;
  font-family: "Roboto";
}

#pseudo-nav {
  padding-top: 20px;
   padding-bottom: 80px;
}

#self h4{
  font-weight: 420;
  margin-bottom: 0;
}

#self h5{
  color: #3a3a3a;
  font-weight: 300;
}


.row {

}

#navbar {
  padding-top: 40px;
  max-width: 220px;
}

.card {
  margin-bottom: 40px;
}


.thumbnail {

}

#display {
  width: 600px;
  height: 400px;
  border-radius: 4px;
  box-shadow: 0px 0px 12px 0px #b7b7b7;
}

#display a {
  margin-top: 100px;
}
